doctype 5
html
	head
		title= title
		script(src='/javascripts/libs/jquery-1.8.3.min.js')
		script(src='/javascripts/libs/bootstrap.min.js')
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAy2cfNA78sOi9DF0XZOgc7BrTYTTX5y1s&sensor=false')
		script(src='/javascripts/main.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
	body
		div#main-container
			header.row
				div.span12
					h1 Cga Cam Stream System
			div.row
				div.span12
					h5 請選擇視訊來源:
					div#source-selector.btn-toolbar
						div.btn-group(data-toggle='buttons-checkbox')
							button.btn(type='button') 
								i.icon-facetime-video
								|  Cam1
							button.btn(type='button')
								i.icon-facetime-video
								|  Cam2
							button.btn(type='button')
								i.icon-facetime-video
								|  Cam3
			div.row		
				div#viewer.span8
				div.span4
					div#sidebar
						a.btn.btn-primary.btn-block
							i.icon-plus.icon-white
							|  新增來源
						a.btn.btn-block
							i.icon-film
							|  影片資料庫
					div#map-tracer
						div#map
			footer.row
