body {
	background: #DDD;
}
div#main-container {
	max-width: 996px;
	margin: 0 auto;
}
div#viewer {
	border: 1px solid #333;
	padding: 12px;
	min-height: 550px;
}
div#map-container {
	width: 290px;
	height: 290px;
	margin:	14px 12px;  
	border: 1px solid #CCC;
}
#available-token .btn-danger {
	display:none;
}
.pass-code {
	font-size: 5em;
	margin: 50px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.3em;  
}
.expired-date-text {
	text-align: right;
	color: red;  
}
div#viewer-holder {
    width:100%;
    height:400px;
    background:#ccc;
    opacity:0.8;
    font-size:1.8em;
    color:#777;
    text-align:center;
    padding-top:160px;
}
#p1 {
    display:none;
    width: 100%;
    min-height: 400px;
}
